.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 ($spacing-base * -1);

  .card {
    color: $white-1;
    text-align: center;
    margin: 0 ($spacing-base) ($spacing-base * 2);
    width: calc(25% - #{$spacing-base * 2 + 10});
    display: flex;
    flex-direction: column;
    position: relative;
    border: transparent 4px solid;
    animation: fadein 420ms linear forwards;
    -webkit-animation: fadein 420ms linear forwards;
    transition: $transition-2x;

    &:hover,
    &:focus {
      box-shadow: $boxshadow-1x;

      .card-content {
        opacity: 0;
      }
    }
  }

  .card-image {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 74.18%;
  }

  .card-content {
    background-color: rgba(86, 86, 86, 0.471);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: $spacing-base;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    width: 50%;
    height: 50%;
    transition: inherit;

    .card-name {
      margin: 0;
    }
  }
}

@media all and (max-width: $breakpoint-medium) {
  .card-deck {
    margin: 0 ($spacing-base / -2);

    .card {
      width: calc(33% - #{$spacing-base * 2 + 10px});
    }
  }
}

@media all and (max-width: $breakpoint-xsmall) {
  .card-deck {
    .card {
      width: calc(50% - #{$spacing-base * 2 + 10px});
    }
  }
}

@media all and (max-width: $breakpoint-tiny) {
  .card-deck {
    .card {
      width: calc(100% - #{$spacing-base * 2});
      margin-bottom: ($spacing-base * 2) + 10px;
    }
  }
}
