.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.rounded-light {
  border-radius: 5px;
}

.shadow-light {
  box-shadow: $boxshadow-1x;
}

.shadow-medium {
  box-shadow: $boxshadow-2x;
}
