@import "./vendors/reset.scss";
@import "./vendors/react-awesome-slider.scss";
@import "./vendors/react-modal-video.scss";

@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/lists.scss";
@import "./base/links.scss";
@import "./base/images.scss";

@import "./layouts/nav.scss";
@import "./layouts/footer.scss";

@import "./routes/loading.scss";
@import "./routes/home.scss";
@import "./routes/recipe.scss";

body {
  background-color: $white-2;
}

section {
  padding: ($spacing-base / 2) 0 $spacing-base;

  @media all and (max-width: $breakpoint-small) {
    padding: ($spacing-base / 2) 0;
  }
}

.route {
  margin: 0 auto;
  max-width: $max-width;
  padding: ($spacing-base * 2);

  @media all and (max-width: $breakpoint-small) {
    padding: ($spacing-base) ($spacing-base / 2);
  }
}
