@import "./vendors/react-awesome-slider.scss";

@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/utilities.scss";
@import "./base/typography.scss";
@import "./base/lists.scss";
@import "./base/links.scss";

@import "./layouts/nav.scss";

@import "./routes/home.scss";
@import "./routes/recipe.scss";

body {
  background-color: map-get($colors, "color-white-2");
}


