@import "./vendors/reset.scss";
@import "./vendors/react-awesome-slider.scss";
@import "./vendors/react-modal-video.scss";

@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/lists.scss";
@import "./base/links.scss";

@import "./layouts/nav.scss";
@import "./layouts/footer.scss";

@import "./routes/base.scss";
@import "./routes/home.scss";
@import "./routes/recipe.scss";

body {
  background-color: $white-2;
}
