$spacing-base: 25px;

$transition: all 0.24s ease-out;
$transition-2x: all 0.48s ease-out;
$transition-3x: all 0.96s ease-out;

$scale-small: scale(1.042);

$max-width: 1440px;

$breakpoint-tiny: 425px;
$breakpoint-xsmall: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;

$white-1: rgb(255, 255, 255);
$white-2: rgb(250, 250, 250);
$black-1: rgb(0, 0, 0);
$black-2: rgba(0, 0, 0, 0.3);
$pink: rgb(231, 166, 166);

$boxshadow-1x: 0 4px 12px $black-2;
$boxshadow-2x: 0 8px 18px $black-2;
