.route-recipe {
  transition: all 0.22s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: $spacing-base $spacing-base ($spacing-base * 2);
  min-height: 100vh;

  .content {
    max-width: 991px;
    width: 100%;
    color: map-get($colors, "color-white");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: ($spacing-base * 3);
      width: 100%;

      .food-intro {
        text-align: center;
      }

      .food-asset {
        border-radius: 15px;
        position: relative;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-color: rgb(200, 200, 200);
        max-width: 768px;
        width: 100%;

        &.image {
          padding-top: 45%;
        }

        &.carousel {
          .awssld__box {
            .awssld__content {
              img {
                border-radius: 15px;
              }
            }
          }
        }
      }

      .social-links {
        margin-bottom: $spacing-base;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;

          .fa-instagram {
            font-size: 34px;
            margin-right: 5px;
          }

          .instagram-label {
            font-size: 20px;
          }
        }
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 768px;
      margin: 0 auto;
      width: 100%;

      .ingredients {
        margin-bottom: $spacing-base * 2;
        width: calc(50% - 50px);
        margin-right: $spacing-base * 2;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .instructions {
        width: 50%;
      }
    }
  }

  @media all and (max-width: 768px) {
    .content {
      .intro {
        margin-bottom: $spacing-base * 2;

        .food-asset {
          margin-bottom: 15px;
          width: 100%;

          &.image {
            padding-top: 70.25%;
          }
        }
      }

      .body {
        flex-direction: column;
        align-items: center;

        .ingredients {
          margin-right: 0;
          margin-bottom: 25px;
          width: 100%;
        }

        .instructions {
          width: 100%;
        }
      }
    }
  }
}
