.route-recipe {
  transition: $transition;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: $spacing-base $spacing-base ($spacing-base * 2);
  min-height: calc(100vh - 185px);

  .content {
    max-width: 991px;
    width: 100%;
    color: $white-1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 768px;
      margin: 0 auto ($spacing-base * 1);
      width: 100%;

      .food-intro {
        text-align: center;
      }

      .awssld {
        border-radius: 15px;
        position: relative;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-color: $white-1;
        max-width: 768px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 8px solid $white-1;
        width: 100%;

        .awssld__box {
          .awssld__content {
            img {
              border-radius: 15px;
            }
          }
        }
      }

      .social-links {
        margin-bottom: $spacing-base;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;

          .fa-instagram {
            font-size: 34px;
            margin-right: 5px;
          }

          .instagram-label {
            font-size: 20px;
          }

          .fa-external-link-alt {
            font-size: 12px;
            margin-left: ($spacing-base / 3);
          }
        }
      }
    }

    .metas {
      margin: 0 auto ($spacing-base * 2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      max-width: 768px;

      .meta {
        .key {
          margin-right: ($spacing-base / 3);
          font-weight: 700;
        }
      }

      .print-page {
        background-color: transparent;
        color: $white-1;
        cursor: pointer;
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 768px;
      margin: 0 auto;
      width: 100%;

      .ingredients {
        margin-bottom: $spacing-base * 2;
        width: calc(50% - 50px);
        margin-right: $spacing-base * 2;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .instructions {
        width: 50%;
      }
    }

    .notes {
      max-width: 560px;
      margin: 0 auto;
      width: 100%;
    }
  }

  @media all and (max-width: 768px) {
    .content {
      .intro {
        margin-bottom: $spacing-base * 2;

        .food-asset {
          margin-bottom: 15px;
          width: 100%;
        }
      }

      .metas {
        align-items: flex-start;
      }

      .body {
        flex-direction: column;
        align-items: center;

        .ingredients {
          margin-right: 0;
          margin-bottom: 25px;
          width: 100%;
        }

        .instructions {
          width: 100%;
        }
      }
    }
  }

  @media print {
    font-size: 18px !important;

    .print-page,
    .social-links {
      display: none !important;
    }

    .awssld {
      max-width: 300px !important;
    }
  }
}
