.route-recipes {
  .recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 ($spacing-base * -1);

    .recipe {
      color: $white-1;
      text-align: center;
      margin: 0 ($spacing-base) ($spacing-base * 2);
      width: calc(25% - #{$spacing-base * 2});
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: $transition;
      display: flex;
      flex-direction: column;

      &:hover {
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
        transform: scale(1.042);
      }

      .food-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 74.18%;
      }

      .food-name-wrapper {
        justify-content: center;
        align-items: center;
        min-height: 64px;
        display: flex;
        padding: $spacing-base / 2;

        .food-name {
          margin: 0;
        }
      }
    }
  }

  @media all and (max-width: 991px) {
    .recipes {
      .recipe {
        width: calc(50% - #{$spacing-base * 2});
      }
    }
  }

  @media all and (max-width: 556px) {
    .recipes {
      .recipe {
        width: calc(100% - #{$spacing-base * 2});
        margin-bottom: ($spacing-base * 2);
      }
    }
  }
}
