.route-recipe {
  transition: $transition;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 185px);
  max-width: unset;

  .content {
    color: $white-1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 768px;
    width: 100%;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $spacing-base * 2;
      width: 100%;

      .food-intro {
        text-align: center;
      }

      .awssld {
        border-radius: 15px;
        position: relative;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-color: $white-1;
        max-width: 768px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 8px solid $white-1;
        width: 100%;

        .awssld__box {
          .awssld__content {
            img {
              border-radius: 15px;
            }
          }
        }
      }

      .social-links {
        margin-bottom: $spacing-base;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;

          .fa-instagram {
            font-size: 34px;
            margin-right: 5px;
          }
        }
      }
    }

    .metas {
      margin-bottom: $spacing-base * 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;

      .meta {
        .key {
          margin-right: ($spacing-base / 3);
          font-weight: 700;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: $spacing-base * 2;

      .ingredients {
        width: calc(50% - 50px);
        margin-right: $spacing-base * 2;
      }

      .instructions {
        width: 50%;
      }
    }
  }

  @media all and (max-width: 768px) {
    .content {
      .body {
        flex-direction: column;

        .ingredients {
          margin-right: 0;
          width: 100%;
        }

        .instructions {
          width: 100%;
        }
      }
    }
  }
}
