.route-recipe {
  transition: $transition;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 185px);
  max-width: unset;

  .content {
    color: $white-1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 768px;
    width: 100%;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $spacing-base;
      width: 100%;

      .food-intro {
        text-align: center;
      }

      .language-picker {
        margin-bottom: $spacing-base;

        button {
          background-color: transparent;
          color: inherit;
          border: 2px solid $white-1;
          cursor: pointer;
          font-weight: 600;
          font-size: 18px;
          padding: 4px 6px;
          border-radius: 6px;

          &.hidden {
            display: none;
          }
        }
      }

      .awssld {
        border-radius: 15px;
        position: relative;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-color: $white-1;
        max-width: 768px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 8px solid $white-1;
        width: 100%;
        margin-bottom: $spacing-base;

        .awssld__box {
          .awssld__content {
            img {
              border-radius: 15px;
            }
          }
        }
      }

      .social-links {
        margin-bottom: $spacing-base / 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 200px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-1;
          flex-direction: column;

          .fab {
            font-size: 34px;
          }
        }
      }
    }

    .metas {
      margin-bottom: $spacing-base * 2;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .meta {
        font-size: 20px;

        .key {
          margin-right: ($spacing-base / 3);
          font-weight: 700;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: $spacing-base * 2;

      .ingredients {
        width: calc(50% - 50px);
        margin-right: $spacing-base * 2;
      }

      .instructions {
        width: 50%;
      }
    }
  }

  @media all and (max-width: 768px) {
    .content {
      .metas {
        align-items: flex-start;
      }

      .body {
        flex-direction: column;

        .ingredients {
          margin-right: 0;
          width: 100%;
        }

        .instructions {
          width: 100%;
        }
      }
    }
  }
}
