.route-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  .fab,
  .far {
    font-size: 45px;
  }

  .link {
    margin-bottom: $spacing-base;
    padding: ($spacing-base / 2 + 10) 0;
    width: 100%;
    max-width: 300px;
    background-color: $pink;
    border-radius: 50px;
    text-align: center;
    transition: $transition-1x;
    animation: fadein 420ms linear forwards;
    -webkit-animation: fadein 420ms linear forwards;

    &:hover {
      box-shadow: $boxshadow-2x;
      transform: scale(1.042);
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    color: $white-1;
  }
}
