.footer {
  background-color: $white-1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: ($spacing-base/ 2) 0;
  border-top: 1px solid rgb(219, 219, 219);
  height: 30px;
  font-size: 14px;
}
