.top-nav {
  background-color: $white-1;
  padding: ($spacing-base / 3) $spacing-base * 2;
  border-bottom: 1px solid rgb(219, 219, 219);

  .container {
    width: 100%;
    max-width: $max-width;
    display: flex;
    margin: 0 auto;

    .nav {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      margin-right: ($spacing-base);
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        height: 50px;
        border-radius: 50px;
        margin-bottom: ($spacing-base / 4);
        margin-right: ($spacing-base / 2);
      }
    }

    h1 {
      margin-bottom: 0;
      font-size: 18px;
    }

    .links {
      position: relative;
      top: 1px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .social-links {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $black-1;
        display: flex;
        cursor: pointer;
        font-weight: 100;
        transition: $transition;
        font-size: 24px;
        margin-right: $spacing-base / 1.2;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: rgb(195, 124, 139);
        }
      }
    }
  }

  @media all and (max-width: 768px) {
    padding: ($spacing-base / 2);

    .links {
      a {
        font-size: 16px;
      }
    }
  }
}
