@import "~reset-css/sass/reset";
@import "~react-modal-video/scss/modal-video.scss";
@import "~react-awesome-slider/dist/styles.css";

@import "./styles/variables.scss";
@import "./styles/typography.scss";
@import "./styles/animations.scss";
@import "./styles/lists.scss";
@import "./styles/links.scss";
@import "./styles/images.scss";
@import "./styles/card-decks.scss";

@import "./layouts/nav/index.scss";
@import "./layouts/footer/index.scss";

@import "./routes/Loading/index.scss";
@import "./routes/Recipe/index.scss";
@import "./routes/Recipes/index.scss";
@import "./routes/Links/index.scss";

body {
  background-color: $white-2;
}

.route {
  margin: 0 auto;
  max-width: $max-width;
  padding: ($spacing-base * 2);

  @media all and (max-width: $breakpoint-small) {
    padding: ($spacing-base) ($spacing-base / 2);
  }

  &.no-max-width {
    max-width: 100%;
  }
}
