ol {
  list-style-type: decimal;

  li {
    &::before {
      display: flex;
      content: counter(list-item);
      align-items: center;
      justify-content: center;
      float: left;
      margin: 2px 0 0 -32px;
      border-radius: 100%;
      border: 0;
      background-color: $black-1;
      color: $white-1;
      width: 25px;
      height: 25px;
      font-size: 12px;
      line-height: 10px;
    }

    &::marker {
      color: transparent;
    }
  }
}

ul {
  li {
    &::before {
      content: "⪀";
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      margin: 2px 0 0 -32px;
      border-radius: 100%;
      border: 0;
      background-color: $black-1;
      color: $white-1;
      width: 25px;
      height: 25px;
      font-size: 12px;
    }
  }
}

ol,
ul {
  margin-bottom: $spacing-base;

  &.cursor {
    cursor: pointer;
  }

  li {
    margin-left: ($spacing-base * 2 - ($spacing-base / 2));
    margin-bottom: $spacing-base;

    &.strikethrough {
      text-decoration: line-through;
      color: $white-2;

      &::before {
        content: "\2713";
      }
    }
  }
}
