@each $name, $value in $colors {
  .text-#{$name} {
    color: #{$value};
  }

  .background-#{$name} {
    background-color: #{$value};
  }

  .border-#{$name} {
    border-color: #{$value};
  }
}

.cursor-pointer {
  cursor: pointer;
}
