$spacing-base: 25px;
$breakpoint-small: 768px;

$borderRadius: (
  "card": 5px,
);

$colors: (
  "color-white": #fff,
  "color-white-2": rgb(250, 250, 250),
  "color-black": #000,
  "color-gfccd": rgb(205, 162, 171),
  "color-pesto": rgb(138, 179, 148),
  "color-bmt": rgb(216, 192, 142),
  "color-psw": rgb(220, 114, 110),
  "color-hbiscuits": rgb(112, 60, 57),
  "color-cc": rgb(186, 131, 85),
);
